{{- with .Params.faqs -}}
{{- $email := $.Site.Params.email -}}
{{- $phone := $.Site.Params.veldtelefoonnummer -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {{- range $i, $faq := . -}}
    {{- if $i }},{{ end }}
    {
      "@type": "Question",
      "name": {{ $faq.q | replace "{email}" $email | replace "{phone}" $phone | jsonify }},
      "acceptedAnswer": {
        "@type": "Answer",
        "text": {{ $faq.a | replace "{email}" $email | replace "{phone}" $phone | jsonify }}
      }
    }
    {{- end }}
  ]
}
</script>
{{- end -}}
