{{ define "main" }}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    { "@type": "ListItem", "position": 1, "name": "Home", "item": {{ .Site.BaseURL | jsonify }} }
    {{ if and .Parent (not .Parent.IsHome) }},
    { "@type": "ListItem", "position": 2, "name": {{ .Parent.Title | jsonify }}, "item": {{ .Parent.Permalink | jsonify }} },
    { "@type": "ListItem", "position": 3, "name": {{ .Title | jsonify }} }
    {{ else }},
    { "@type": "ListItem", "position": 2, "name": {{ .Title | jsonify }} }
    {{ end }}
  ]
}
</script>

{{ partial "page-header.html" . }}

<div class="page-content">
  {{ partial "page-toc.html" . }}
  <div class="container">
    {{ .Content }}
  </div>
</div>

{{ end }}
